* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #182e49;
  }
  
  .menu {
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: #FFFFFF00;
    color: #f2efef;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    transition: 1.25s;
    z-index: 1000;
  }
  
  .menu.active .toggle {
    transform: rotate(360deg);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15),
      0 0 0 2px #333,
      0 0 0 8px #fff;
  }
  
  .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu ul li {
    position: absolute;
    left: 0;
    list-style: none;
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 140px;
    scale: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
  }
  
  .menu.active ul li {
    scale: 1;
  }
  
  .menu ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(calc(360deg/-8 * var(--i)));
    width: 60px;
    height: 60px;
    background: #FFFFFF00
    ;
    color: var(--color);
    border-radius: 50%;
    font-size: 1.75rem;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .menu ul li:hover a {
    font-size: 2.25rem;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15),
      0 0 0 2px var(--color), 
  }
  .container {
    
    background-image: url('Hinh-anh-nen-LOL-dep-LMHT-1-800x450.jpg');
    background-size: cover;
    background-position: center;
  }
  